<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start" class="btn-back">
      <ion-back-button color="secondary" text="" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons class="ion-text-center">
      <ion-text class="header-title" style="font-weight: normal;">คะแนนของฉัน</ion-text>
    </ion-buttons>

    <ion-buttons slot="primary" button class="btn-back">
      <ion-icon></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- New Product  -->
  <ion-grid [fixed]="true" class="grid-products">
    <ion-row class="ion-justify-content-center products" offset-md="2">
      <ion-col>

        <div class="review">
          <div class="review-list user-02">
            <div class="review-tile">
              <div class="review-profile" slot="start">

                <ion-avatar>
                  <img src="../../../../assets/imgs/user-profile/profile-review.png">
                </ion-avatar>
                <ion-text color="primary">ชัย********ง</ion-text>
              </div>

              <div class="review-point" slot="primary">
                <ion-icon [src]="iconStar"></ion-icon>
                <ion-icon [src]="iconStar"></ion-icon>
                <ion-icon [src]="iconStar"></ion-icon>
                <ion-icon [src]="iconStar"></ion-icon>
                <ion-icon [src]="iconStar"></ion-icon>
              </div>
            </div>
            <div class="review-content">
              <div class="review-text">
                <ion-text>
                  ตอนนี้รู้สึกเลิฟ กับสินค้าตัวนี้มาก หน้าใสชุ่มชื่รขึ้นเยอะมาก จากที่มีสารพีด ปัญหาผิวหน้ามาหลายปี
                </ion-text>
              </div>
              <div class="review-image">
                <img src="../../../../../assets/imgs/review/img-review-1.png" class="img-first" alt="Thumbnail img-review-1.png">
                <img src="../../../../../assets/imgs/review/img-review-2.png" alt="Thumbnail img-review-2.png">
                <img src="../../../../../assets/imgs/review/img-review-3.png" alt="Thumbnail img-review-3.png">
                <img src="../../../../../assets/imgs/review/img-review-4.png" alt="Thumbnail img-review-4.png">
                <img src="../../../../../assets/imgs/review/img-review-5.png" class="img-end" alt="Thumbnail img-review-5.png">
              </div>
            </div>
            <div class="review-product">
              <div class="product-image">
                <ion-img src="../../../../assets/imgs/test/product-ha.png"></ion-img>
              </div>
              <div class="product-name">
                <ion-text><strong>ha desnimatrix</strong></ion-text>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>