<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start" class="btn-back">
      <ion-back-button color="secondary" text="" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons class="ion-text-center">
      <ion-text class="header-title">Cart<span *ngIf="cartItem"> ( {{cartItem}} )</span></ion-text>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button color="secondary" routerLink="/cart">
        <ion-icon [src]="iconCart" class="icon-search"></ion-icon>
        <ion-badge class="animate__animated animate__fadeInUp" *ngIf="cartItem">{{cartItem}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid [fixed]="true" class="grid-cart" *ngIf="cartData">
    <ion-row class="ion-justify-content-center" offset-md="2">
      <ion-col size-md="12" size-xs="12" class="">
        <ion-list lines="none" class="product-list">
          <ion-item class="check-all">
            <label>ทั้งหมด</label> <ion-checkbox [(ngModel)]="selectAll" (ionChange)="toggleAllCheckboxes()"></ion-checkbox>
          </ion-item>
        </ion-list>

        <div class="product" *ngFor="let products of checkboxes">
          <div class="product-image" [routerLink]="['product','detail',products.product.id]">
            <ion-img [src]="products.product.images[0].src"></ion-img>
          </div>
          <div class="product-detail">
            <div class="product-name" [routerLink]="['product','detail',products.product.id]">
              <ion-text>
                {{products.product.name}}
              </ion-text>
            </div>
            <div class="product-price">
              <ion-text>
                <span class="onsale" *ngIf="products.product.sale_price">฿ {{products.product.regular_price | number }}</span> 
                <strong>฿ {{products.product.price | number }}</strong>
              </ion-text>
            </div>
          </div>
          <div class="product-quantity">
            <ion-button (click)="quantityMinus(products.product)">-</ion-button>
            <span>{{products.product.quantity}}</span>
            <ion-button (click)="quantityPlus(products.product)">+</ion-button>
          </div>
          <div class="product-check">
            <ion-checkbox [(ngModel)]="products.checked" (ionChange)="updateCheckboxAll()"></ion-checkbox>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true" class="grid-cart" *ngIf="!cartData">
    <ion-row class="ion-justify-content-center" offset-md="2">
      <ion-col class="ion-text-center">
        <p>ไม่มีสินค้าในตะกร้า</p>
        <ion-button color="secondary" class="btn-checkout" routerLink="/shop">Shop now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footrt-cart animate__animated animate__fadeInUp" *ngIf="totalProducts">
  <div class="total-prices">
    <ion-label>
      Totally : <b>฿ {{totalPrice | number }} </b>
    </ion-label>
  </div>
  <ion-button class="btn-checkout" (click)="checkout()">
    Check out 
    <span>( {{totalProducts}} )</span>
  </ion-button>
</ion-footer>