<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Sign in" color="secondary" defaultHref="/signin"></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center logo">
      <ion-img src="../../../../assets/icon/logo-welcome.png" alt="welcome"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-full-height ion-flex-center">

    <ion-grid>
      <ion-row class="ion-justify-content-center" offset-md="2">
        <ion-col class="fixed-screen" size-md="10" size-lg="10" size-xs="12">

          <div class="logo-container">
            <h1 class="animate__animated animate__fadeInUp">
              <ion-text color="dark">Forgot Password?</ion-text>
            </h1>
            <p class="animate__animated animate__fadeInUp">
              <ion-text color="secondary">Reset your password.</ion-text>

            </p>
          </div>

          <form class="form-reset-password" [formGroup]="resetForm">
            <ion-item class="animate__animated animate__fadeInUp" lines="none">
              <!-- <ion-label position="floating">
                <ion-icon name="mail" item-start></ion-icon>
                Email
              </ion-label> -->
              <ion-input color="secondary" type="email" formControlName="email" placeholder="Email" aria-label="Email"></ion-input>
            </ion-item>

            <ion-button expand="block" size="large" class="ion-margin-top" color="dark" routerLink="/signin">
              Reset password
            </ion-button>
          </form>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>