
ion-header{

  ion-toolbar{

    ion-buttons{
      position: absolute;
    }
  }
}
.ion-full-height {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  ion-grid {

    ion-row {
      height: 100%;

      ion-col {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 60px;
        
        .ion-footer {
          margin-top: 60px;
        }

        ion-button.btn-signup{
          margin-top: 30px;
        }
      }
    }
  }

  h4 {
    margin-bottom: 30px;
  }

  h4 ion-text {
    font-weight: bold;
    color: #000000;
    font-size: 20px;
  }
}
:host {
  body {
    background-color: var(--ion-color-dark);
  }

  // ion-item {
  //   --border-radius: 8px;
  //   margin-bottom: 8px;
  // }

  .logo-container {
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 800;
    }

    p {
      margin-bottom: 42px;
    }
  }
}
