<ion-header collapse="fade" [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start" class="btn-back">
      <ion-back-button color="secondary" text="" defaultHref="/checkout/payments">
      </ion-back-button>
    </ion-buttons>

    <ion-title color="dark">
      เพิ่มบัตรเครดิต
    </ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid [fixed]="true" class="grid-address">
    <ion-row class="ion-justify-content-center" offset-md="2">
      <ion-col size-md="12" size-xs="12" class="">

        <!-- credit-card-payment.page.html -->
        <form class="form-default" [formGroup]="creditCardForm">
          <ion-list lines="none" class="address">
            <div class="form-address-detail">
              <h4>ข้อมูลบัตรเครดิต</h4>
            </div>
            <ion-item lines="none">
              <ion-input color="secondary" id="nameCard" placeholder="ชื่อเจ้าของบัตร" formControlName="nameCard" type="text"
                aria-label="ชื่อเจ้าของบัตร :"></ion-input>
            </ion-item>
            <div *ngIf="creditCardForm.get('nameCard').touched && creditCardForm.get('nameCard').invalid"
              class="validator-error">
              <ion-text color="danger">กรุณากรอกชื่อเจ้าของบัตร.</ion-text>
            </div>

            <ion-item lines="none">
              <ion-input color="secondary" id="cardNumber" placeholder="หมายเลขบัตร" formControlName="cardNumber" type="text"
                aria-label="Card Number:"></ion-input>
            </ion-item>
            <div *ngIf="creditCardForm.get('cardNumber').touched && creditCardForm.get('cardNumber').invalid"
              class="validator-error">
              <ion-text color="danger">กรุณากรอกหมายเลขบัตร (16 ตัว).</ion-text>
            </div>

            <ion-item lines="none">
              <ion-input color="secondary" id="expiryDate" placeholder="วันหมดอายุ (ดด/ปป)" formControlName="expiryDate" type="text"
                aria-label="วันหมดอายุ (ดด/ปป):"></ion-input>
            </ion-item>
            <div *ngIf="creditCardForm.get('expiryDate').touched && creditCardForm.get('expiryDate').invalid"
              class="validator-error">
              <ion-text color="danger">กรุณากรอกวันหมดอายุ (ดด/ปป).</ion-text>
            </div>

            <ion-item lines="none">
              <ion-input color="secondary" id="cvc" placeholder="CVV" formControlName="cvc" type="text" aria-label="CVV:"></ion-input>
            </ion-item>
            <div *ngIf="creditCardForm.get('cvc').touched && creditCardForm.get('cvc').invalid" class="validator-error">
              <ion-text color="danger">กรุณากรอก CVV.</ion-text>
            </div>
          </ion-list>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footrt-cart animate__animated animate__fadeInUp ion-text-center">
  <ion-button class="btn-confirm" color="secondary" [disabled]="creditCardForm.invalid" (click)="submitForm()">
    ยืนยัน
  </ion-button>
</ion-footer>