<ion-header class="header">
  <div class="ion-text-center logo">
    <ion-img src="../../../../assets/icon/logo-welcome.png" alt="welcome"></ion-img>
  </div>
</ion-header>

<ion-content class="container">

  <div class="ion-full-height ion-flex-center">

    <ion-grid [fixed]="true">
      <ion-row class="ion-justify-content-center" offset-md="2">
        <ion-col class="fixed-screen" size-md="5" size-lg="5" size-xs="12">

          <div class="logo-container">
            <h4 class="ion-text-center">
              <ion-text color="dark">Choose a sign up method.</ion-text>
            </h4>
          </div>


          <!-- Signup form -->
          <form class="form-signup" [formGroup]="signUpform" (submit)="signUp()">
            <ion-item class="" lines="none">
              <ion-input type="email" formControlName="email" placeholder="email" aria-label="email"></ion-input>
            </ion-item>
            
            <ion-item class="" lines="none">
              <ion-input formControlName="password" type="{{ showPassword ? 'text' : 'password' }}" class="password" (input)="onPasswordInput()" placeholder="password"></ion-input>
              <ion-icon *ngIf="showIcon" name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" slot="end"
                (click)="togglePasswordVisibility()"></ion-icon>
              <!-- <ion-input formControlName="password" type="password" placeholder="password" aria-label="password"></ion-input> -->
            </ion-item>

            <ion-item class="" lines="none">
              <ion-input formControlName="password_repeat" type="password" placeholder="Confirm password" aria-label="password"></ion-input>
            </ion-item>

            <ion-button class="ion-margin-top width-75 btn-signup" type="submit" expand="block" color="secondary">
              Sign up
            </ion-button>
          </form>


          <div class="ion-text-center ion-footer">

            <div class="logo-container">
              <h4 class="ion-text-center">
                <ion-text color="dark">Or have account?</ion-text>
              </h4>
            </div>

            <ion-button class="width-75" expand="block" color="tertiary" (click)="signIn()">
              Sign in
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>