<ion-header collapse="fade" [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start" class="btn-back">
      <ion-back-button color="secondary" text="" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>

    <ion-title color="dark">
      ช่องทางการชำระเงิน
    </ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="filter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true" class="grid-address">
    <ion-row class="ion-justify-content-center" offset-md="2">
      <ion-col size-md="6" size-xs="12" class="">
        <ion-list class="">
          <div *ngFor="let payment of paymentData">
            <ion-item color="primary" class="sub-title" (click)="togglePayment(payment)">
              <ion-icon></ion-icon>
              <ion-label>
                <p>{{payment.title}}</p>
                <!-- <p class="detial">{{payment.description}}</p> -->
              </ion-label>
              <ion-icon *ngIf="payment.selectData === true" name="checkmark-circle-outline"></ion-icon>
              <div *ngIf="payment.subPayment">
                <ion-icon *ngIf="payment.subPayment && payment.subPayment.length > 0"
                  [name]="payment.checked ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end"></ion-icon>
                <!-- <ion-icon name="chevron-down-outline" class="rotate-icon"></ion-icon> -->
              </div>
            </ion-item>

            <ion-list *ngIf="payment.id === 'omise' && payment.checked" class="sublist ion-text-center" lines="none"
              (click)="AddCreditCard(payment)">
              <ion-button>
                <ion-icon name="add-outline"></ion-icon>
                เพิ่มบัตรเครดิต
              </ion-button>
            </ion-list>

            <ion-list *ngIf="payment.id === 'omise_mobilebanking' && payment.checked" class="sublist mobile-bank" lines="none">
              <ion-item color="primary" class="sub-title" *ngFor="let subPayment of payment.subPayment"
                (click)="selectSubPayment(payment,subPayment)">
                <ion-icon [src]="subPayment.logo"></ion-icon>
                <ion-label>
                  <p>{{subPayment.title}}</p>
                  <p class="detial">{{subPayment.detail}}</p>
                </ion-label>
                <ion-icon *ngIf="subPayment.checked === true" name="checkmark-circle-outline"></ion-icon>
              </ion-item>
            </ion-list>
            <div>

            </div>
          </div>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer class="footrt-cart animate__animated animate__fadeInUp ion-text-center" *ngIf="selectData">
  <ion-button class="btn-checkout" color="secondary" (click)="addPayment()">
    ยืนยัน
  </ion-button>
</ion-footer>