<ion-header collapse="fade">
  <ion-toolbar [ngClass]="!dataResolve ? 'address-active' : ''">
    <ion-buttons slot="start" class="btn-back">
      <ion-back-button color="secondary" text="" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons class="ion-text-center">
      <ion-text class="header-title">ที่อยู่ใหม่</ion-text>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon [src]="" class="icon-search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid [fixed]="true" class="grid-address">
    <ion-row class="ion-justify-content-center" offset-md="2">
      
      <ion-col size-md="12" size-xs="12" class="">
        <div class="address-titles" *ngIf="!dataResolve">
          <ion-text>ที่อยู่</ion-text>
        </div>
      </ion-col>
      <ion-col size-md="12" size-xs="12" class="">

        <!-- Add address -->

        <form class="form-default">
          <ion-list lines="none" class="address">
            <div class="form-address-detail">
              <h4>ช่องทางติดต่อ</h4>
            </div>
            <div class="">
              <!-- Login form -->
              <ion-item lines="none">
                <ion-label>ชื่อ นามสกุล</ion-label>
                <ion-input color="secondary" type="text"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label>หมายเลขโทรศัพท์</ion-label>
                <ion-input color="secondary" type="number"></ion-input>
              </ion-item>
            </div>
          </ion-list>

          <ion-list lines="none" class="address">
            <div class="form-address-detail">
              <h4>ที่อยู่</h4>
            </div>
            <div class="" routerLink="city">
              <!-- Login form -->
              <ion-item lines="none" routerLink="city">
                <!-- <ion-label>จังหวัด, เขต/อำเภอม รหัสไปรษณีย์</ion-label>
                 -->
                <ion-input color="secondary" type="number" placeholder="จังหวัด, เขต/อำเภอ รหัสไปรษณีย์"></ion-input>
                <!-- <ion-icon style="font-size: 15px;" name="chevron-forward-outline"></ion-icon> -->
              </ion-item>
            </div>
            <div>
              <ion-item>
                <ion-textarea placeholder="รายละเอียดที่อยู่"></ion-textarea>
              </ion-item>
            </div>
          </ion-list>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footrt-cart animate__animated animate__fadeInUp ion-text-center">
  <ion-button class="btn-confirm" color="secondary">
    ยืนยัน
  </ion-button>
</ion-footer>
