<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start" class="btn-back">
      <ion-back-button color="secondary" text="" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons class="ion-text-center">
      <ion-text class="header-title">ยืนยันการชำระเงิน</ion-text>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon [src]="" class="icon-search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid [fixed]="true" class="grid-order">
    <ion-row class="ion-justify-content-center" offset-md="2">
      <ion-col size-md="12" size-xs="12" class="">

        <!-- order title -->
        <div class="order order-title grid-notification" *ngIf="productData">
          <div class="table">
            <div class="row order-number">
              <div class="col"><b>หมายเลขคำสั่งซื้อ</b></div>
              <div class="col price">
                <ion-text color="medium"><strong>{{orderID}}</strong></ion-text>
                <!-- <ion-buttons class="btn-copy">คัดลอก</ion-buttons> -->
              </div>
            </div>
            <div class="row order-date">
              <div class="col">
                <ion-text color="medium">วันที่สั่งซื้อ</ion-text>
              </div>
              <div class="col price">
                <ion-text color="medium">{{orderData.date_created | date}}</ion-text>
              </div>
            </div>
            <div class="row order-status">
              <div class="col"><b>สถานะการสั่งซื้อ</b></div>
              <div class="col price">
                <ion-text class="sub-title"><b
                    class="{{this.orderNameStatus.nameStatus}}">{{this.orderNameStatus.title}}</b></ion-text>
              </div>
            </div>
          </div>
        </div>

        <!-- address detail -->
        <div class="order address" *ngIf="shipping" [routerLink]="['address/'+orderID]">
          <div class="address-title">
            <h3><strong>ที่อยู่การจัดส่ง</strong></h3>
            <ion-label><ion-icon name="create-outline"></ion-icon> แก้ไข</ion-label>
          </div>

          <div class="address-content">
            <div class="address-icon">
              <ion-icon [src]="iconLocation" class="icon-search"></ion-icon>
            </div>
            <div class="table">
              <div class="row order-number" style=" margin-bottom: 10px;">
                <div class="col"><ion-text>{{shipping.first_name}} {{shipping.last_name}}</ion-text></div>
                <div class="col price">
                  <ion-text color="secondary">{{shipping.phone}}</ion-text>
                </div>
              </div>
              <div class="row order-date">
                <div class="">
                  <ion-text>{{shipping.address_1 + ' ' + shipping.state + ' ' + shipping.city + ' ' +
                    shipping.postcode}}</ion-text>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Product details -->
        <div class="products">
          <div class="title">
            <ion-text><strong>รายละเอียดการสั่งซื้อ</strong></ion-text>
          </div>

          <div class="product" *ngFor="let products of productData">
            <div class="product-image">
              <ion-img [src]="products.image.src"></ion-img>
            </div>
            <div class="product-detail">
              <div class="product-name">
                <ion-text>
                  {{products.name}}
                </ion-text>
              </div>
              <div class="product-price">
                <ion-text>
                  ฿ {{products.price | number}}
                </ion-text>
              </div>
            </div>
            <div class="product-quantity">
              x <span>{{products.quantity}}</span>
            </div>
          </div>

        </div>

        <!-- add payment -->
        <div class="payment" *ngIf="productData">
          <ion-list lines="none" class="payment" [routerLink]="['payment/'+orderID]">
            <div class="payment-title">
              <ion-text>วิธีการชำระเงิน</ion-text>
            </div>
            <div class="payment-detail">
              <b>{{orderData.payment_method_title}}</b>
              <ion-icon name="chevron-forward-sharp"></ion-icon>
            </div>
          </ion-list>
        </div>

        <!-- Summary order -->
        <div class="order" *ngIf="shipping">

          <h3>ข้อมูลการชำระเงิน</h3>
          <div class="table">
            <div class="row total-prices">
              <div class="col">รวมการจัดส่ง</div>
              <div class="col price">฿ {{orderData.total | number}}</div>
            </div>
            <div class="row total-discount">
              <div class="col">ส่วนลด</div>
              <div class="col price">฿ {{orderData.discount_total | number}}</div>
            </div>
            <div class="row summary-price">
              <div class="col">
                <h3><strong>ยอดชำระเงินทั้งหมด</strong></h3>
              </div>
              <div class="col price">
                <h3><strong>฿ {{orderData.total-orderData.discount_total | number}}</strong></h3>
              </div>
            </div>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="footrt-cart animate__animated animate__fadeInUp ion-text-center">
  <ion-button class="btn-checkout" (click)="payOrder()" color="secondary">
    ชำระเงิน
  </ion-button>
</ion-footer>