:host {

    ion-grid,
    ion-row,
    ion-col {
        padding: 0;

        ion-list,
        .product,
        .coupon,
        .payment {
            display: flex;
            align-items: center;
            padding: 0 24px;
            margin-bottom: 10px;
            width: 100%;
        }
    }

    .products-active {
        background-color: #E9E9E9 !important;
        margin-top: 10px;

        .product {
            background-color: #E9E9E9 !important;
        }

        .summary-price {
            text-align: right;
            margin-bottom: 15px;
        }

        .product-review {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .review-left {
                ion-label {
                    font-size: 14px;
                }

                ion-text {
                    font-size: 13px;
                }

                .review-point {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    .star {
                        margin-left: 15px;
                    }
                }
            }

            .btn {
                ion-button {
                    --background: #000;
                    color: #fff;
                    width: 117px;
                }
            }
        }
    }

    .products {
        padding: 20px 24px 15px;

        .title {
            margin-bottom: 15px;

            ion-text {
                font-size: 14px;
            }
        }

        .product {
            display: flex;
            background-color: #fff;
            margin-bottom: 10px;
            align-items: center;
            padding: 0px;
            --background: #fff;

            .product-image {
                width: 30%;
                height: 100%;
                text-align: center;
                max-width: 90px;
            }

            .product-detail {
                width: 50%;
                height: 100%;
                padding: 0 10px 0 10px;
                margin-right: auto;

                .product-price {
                    margin-top: 10px;
                    font-weight: bold;
                }
            }

            .product-quantity {
                width: 20%;
                height: 100%;
                text-align: right;
                padding: 0 15px;
                font-size: 20px;
            }
        }
    }

    .payment {
        background: #E9E9E9;
        --ion-background-color: #E9E9E9;
        min-height: 60px;

        ion-list {
            padding: 0;
            margin-bottom: 0;

            .payment-title {
                margin-right: auto;
            }

            .payment-detail {
                display: flex;
                align-items: center;

                ion-icon {
                    font-size: 16px;
                    margin-left: 15px;
                }
            }
        }
    }

    .order.address {
        margin-top: 10px;
        .address-title {
            display: flex;
            justify-content: space-between;
        }

        .address-content {
            display: flex;
            align-items: center;
            padding: 10px 0;

            .address-icon{
                padding-right: 15px;
            }
        }
    }

    .order {
        --background: #E9E9E9;
        background-color: #E9E9E9;
        padding: 20px 24px;

        h3 {
            font-size: 20px;
            margin-block-start: 0px;
            margin-block-end: 10px;
        }

        .table {
            width: 100%;

            .row {
                display: flex;
                align-items: center;
                width: 100%;

                .col {
                    width: 50%;
                    padding: 10px 0;
                }

                .col.price {
                    text-align: right;
                    padding-right: 5px;
                }
            }
        }
    }

    .order.order-title {
        .table {
            width: 100%;

            .row {
                .col {
                    padding: 5px 0;
                }
            }
        }

        .order-date {
            ion-text {
                font-size: 14px;
            }
        }
    }
}

.btn-checkout {
    margin-top: 40px;
    margin-bottom: 40px;
}

.order {
    ion-button {
        --padding-top: 13px;
        --padding-bottom: 13px;
        --padding-start: 1em;
        --padding-end: 1em;
        margin-inline: 10px;
    }
}

@media(max-width:500px) {
    .product-image {
        text-align: left;

        ion-img {
            max-width: 73px;
            max-height: 73px;
        }
    }
}