:host {

    ion-grid,
    ion-row,
    ion-col {
        padding: 0;
        height: 100%;
    }

    ion-toolbar {
        background-color: #D5D5D5;
    }

    .header-title {
        font-weight: normal;
        font-size: 20px;
    }

    .profile-card {
        border-radius: 0;
        background: #D5D5D5;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 24px 0;
        text-align: center;
        margin: 24px 0;
        box-shadow: none;
    }
}

ion-card-content {
    padding-inline-start: 0;
    padding-inline-end: 0;
    width: 100%;
}

.form {
    text-align: center;

    .form-title {
        margin-bottom: 24px;

        ion-text {
            font-size: 20px;
            color: #000;
        }
    }

    .form-content {

        ion-label {
            color: #000;
        }

        ion-input {
            --padding-start: 24px;
            --inner-padding-end: 24px;
            --background: #F2F2F2;
            --min-height: 45px;
            text-align: left;
            margin-top: 15px;
            margin-bottom: 24px;
            max-height: 45px;
        }
    }
}

.form-error {
    background-color: #FF6868;
    padding: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 24px;

    ion-text a {
        color: #1424FF;
        text-decoration: none;
        --border-bottom: solid 2px;
        border-bottom: solid 2px;
        padding-bottom: 1px;
    }
}

.btn-confirm {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 40px;
}