<ion-header collapse="fade">
  <ion-toolbar [ngClass]="!dataResolve ? 'address-active' : ''">
    <ion-buttons slot="start" class="btn-back">
      <ion-back-button color="secondary" text="" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons class="ion-text-center">
      <ion-text class="header-title">เพิ่มจังหวัด</ion-text>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon [src]="" class="icon-search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid [fixed]="true" class="grid-address">
    <ion-row class="ion-justify-content-center" offset-md="2">
      <ion-col size-md="12" size-xs="12" class="">

        <!-- Add address -->

        <form class="form-default form-address" [formGroup]="address_form" (submit)="setAddress()">

          <ion-list lines="none" class="address">
            <div class="form-address-detail">
              <h4>ที่อยู่</h4>
            </div>
            <div class="">
              <!-- address form -->
              <ion-item lines="none">
                <ion-input color="secondary" formControlName="address_1"  name="address_1" type="text" aria-label="ที่อยู่" placeholder="ที่อยู่"></ion-input>
              </ion-item>
              <div *ngIf="address_form.get('address_1').touched && address_form.get('address_1').invalid" class="validator-error">
                <ion-text color="danger">กรุณาเพิ่มที่อยู่</ion-text>
              </div>

              <ion-item lines="none">
                <ion-input color="secondary" formControlName="districts"  name="districts" type="text" aria-label="ตำบล/แขวง" placeholder="ตำบล/แขวง"></ion-input>
              </ion-item>
              <div *ngIf="address_form.get('districts').touched && address_form.get('districts').invalid" class="validator-error">
                <ion-text color="danger">กรุณาเพิ่มตำบล/แขวง</ion-text>
              </div>

              <ion-item lines="none">
                <ion-input color="secondary" formControlName="amphures"  name="amphures" type="text" aria-label="อำเภอ" placeholder="อำเภอ"></ion-input>
              </ion-item>
              <div *ngIf="address_form.get('amphures').touched && address_form.get('amphures').invalid" class="validator-error">
                <ion-text color="danger">กรุณาเพิ่มอำเภอ</ion-text>
              </div>

              <ion-item lines="none">
                <ion-input color="secondary" formControlName="provinces"  name="provinces" type="text" aria-label="จังหวัด" placeholder="จังหวัด"></ion-input>
              </ion-item>
              <div *ngIf="address_form.get('provinces').touched && address_form.get('provinces').invalid" class="validator-error">
                <ion-text color="danger">กรุณาเพิ่มจังหวัด</ion-text>
              </div>

              <ion-item lines="none">
                <ion-input color="secondary" formControlName="postcode"  name="postcode" type="number" aria-label="รหัสไปรษณีย์" placeholder="รหัสไปรษณีย์"></ion-input>
              </ion-item>
              <div *ngIf="address_form.get('postcode').touched && address_form.get('postcode').invalid" class="validator-error">
                <ion-text color="danger">กรุณาเพิ่มรหัสไปรษณีย์</ion-text>
              </div>

            </div>
          </ion-list>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footrt-cart animate__animated animate__fadeInUp ion-text-center">
  <ion-button class="btn-confirm" [disabled]="address_form.invalid" color="secondary" (click)="setAddress()">
    ยืนยัน
  </ion-button>
</ion-footer>
