/* Swiper bundle */
// @import 'swiper/css/bundle';

// app-welcome {
//   background-color: var(--ion-color-dark);
// }

// app-welcome ion-content {
//   --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
// }

// app-welcome .swiper-welcome {
//   text-align: center;
// }

app-welcome .swiper {
  width: 100%;
  height: 100%;
}

app-welcome .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -70px;
}

ion-text,
ion-button {
  letter-spacing: 0px;
}

ion-header.header::after {
  display: none;
}

ion-content {
  font-family: 'Helvetica' !important;

  .content-center {
    // margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .error-check p {
      background-color: #FF6868;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      padding: 10px;
      text-transform: uppercase;
    }

    .ion-text-center {
      font-weight: bold;
      color: #000;
      margin-bottom: 30px;
    }

    ion-grid {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      ion-row {
        width: 100%;
      }

      ion-button.btn-login {
        width: 100%;
        margin-bottom: 15px;
        --background: #E9E9E9;
        font-size: 18px;
        font-weight: bold;
        // --background-hover: #9ce0be;
        // --background-activated: #88f4be;
        // --background-focused: #88f4be;

        --color: #000;

        --border-radius: 0;
        --border-color: #E9E9E9;
        --border-style: solid;
        --border-width: 1px;
        --padding-top: 20px;
        --padding-bottom: 20px;
        text-transform: capitalize;
        --box-shadow: none;

        i {
          width: 35px;
          margin-right: 3px;
        }
      }

      ion-list {
        margin-top: 30px;

        ion-item {
          font-size: 18px;

          ion-checkbox {
            --size: 24px;
            --checkbox-background-checked: #272727;
            height: auto;
            margin-right: 15px;
            --checkmark-width: 3px;
            width: auto;
          }

          ion-checkbox::part(container) {
            border-radius: 3px;
            border: 2px solid #272727;
            background: white;
          }

          span {
            width: 83%;
          }

          a {
            color: #000;
          }
        }
      }
    }
  }
}

@media(max-width:500px) {

  ion-button.btn-login {

    font-size: 16px;

    i {
      width: 34px;
      margin-right: 5px;
    }
  }

  ion-content .content-center ion-grid ion-list ion-item {
    font-size: 14px;
  }

  ion-checkbox {
    margin-top: 0px;
  }
}