/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Swiper bundle */
// @import 'swiper/css/bundle';



.ion-activated {
  --background-activated: transparent !important;
}

/* Animation */
@import "~animate.css/animate.min.css";

// Standart
img {
  width: 100%;
}

// Header 
ion-header.header-md::after {
  display: none;
}

ion-header.header-md {
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
}

ion-tab-bar {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 30px;
}

ion-header {

  ion-toolbar {
    padding: 10px 10px;
    --ion-safe-area-top: 10px;
  }

  .btn-back {
    min-width: 40px;

    ion-back-button {
      margin: auto;
    }
  }

  .header-title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
  }

  ion-badge {
    top: 0;
    right: -2px;
  }
}

ion-tab-button {
  ion-badge {
    top: 18px;
    left: 53%;
  }
}

ion-button {
  --box-shadow: none;
}

ion-badge {
  position: absolute;
  --background: red;
  color: #fff;
  top: 0px;
  right: -2px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}

body {
  background-color: var(--ion-color-dark);
  font-family: 'Sarabun', sans-serif;
}

ion-content {
  --background: #fff;
}

ion-list {
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: var(--ion-color-primary);
}

ion-label {
  font-size: 16px;
  font-weight: 700;
}

// Footer 
.footer-md::before {
  background: transparent;
}

// Action Sheet styles
ion-action-sheet {
  &.custom-action-sheet {
    ion-backdrop {
      background-color: #000;
      opacity: 0.6;
    }

    .action-sheet-group {
      background: var(--ion-color-dark);
    }

    .action-sheet-title {
      color: var(--ion-color-tertiary);
      font-weight: 700;
    }

    .action-sheet-button,
    .action-sheet-button.ion-focused {
      color: #fff;

      &:hover {
        color: var(--ion-color-tertiary);
      }
    }

    .action-sheet-icon {
      color: var(--ion-color-tertiary);
    }
  }
}

/* Searchbar */
ion-searchbar.sc-ion-searchbar-ios-h {
  --cancel-button-color: var(--ion-color-medium);
  --background: var(--ion-color-dark-tint);
  --border-radius: 8px;
}

@media (any-hover: hover) {
  ion-action-sheet.custom-action-sheet.action-sheet-button:hover {
    color: var(--ion-color-tertiary);
  }
}

/* Hero */
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  ion-avatar {
    text-align: center;
    margin-bottom: 3px;

    .avatar-icon-placeholder {
      font-size: 128px;
    }
  }
}

// HR
hr {
  background: var(--ion-color-primary);
  margin: 22px 0;

  &.hr-medium {
    margin: 32px 0;
  }
}

.logo>ion-img {
  width: 200px;
  margin: 20px auto;
}


ion-button {
  --border-radius: 0px;
  --padding-top: 0;
  --padding-start: 0em;
  --padding-end: 0em;
  --padding-bottom: 0;
  height: 2.5em;
  font-size: 16px;
}

.sc-ion-input-ios {
  --padding-end: 0em;
}

.search-form,
.coupon-form {
  .sc-ion-input-ios {
    --padding-end: 5px;
  }


  .input-clear-icon.sc-ion-input-ios,
  .searchbar-clear-button {
    margin-right: 12px;

    ion-icon.sc-ion-input-ios {
      width: 19px;
      height: 19px;
    }
  }

  .input-clear-icon.sc-ion-input-ios ion-icon.sc-ion-input-ios::after{
    content: "";
    background-image: url('./assets/icon/i-close.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5px;
    top: 10%;
  }

  .searchbar-clear-button ion-icon.searchbar-clear-icon::after{
    content: "";
    background-image: url('./assets/icon/i-close.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 17px;
    left: 5%;
    top: 30%;
  }
}

ion-button {
  text-transform: uppercase;
}

ion-button.width-75 {
  min-width: 214px;
  width: 75%;
  margin: auto;
  margin-bottom: 15px;
}


ion-header.header::after {
  display: none;
}

// container All
ion-content.container {

  ion-grid {
    padding: 0 52px;

    ion-col {
      padding: 0;


    }
  }
}


// All Icon 
.icon-search {
  font-size: 30px;
}

// All Form 
form.form-signin,
form.form-signup,
form.form-reset-password,
form.form-address {
  min-width: 274px;


  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --background: #F2F2F2;
    text-align: center;
    margin-bottom: 15px;
    max-height: 45px;
    --min-height: 45px;

    .label-floating.sc-ion-label-ios-h {
      transform: translate(0, 3px);
    }

    ion-label {
      text-align: center;
      font-weight: 400;
      margin-right: 0;
      font-size: 15px !important;
      --color: #979797 !important;
    }

    ion-input {
      font-size: 15px !important;
      --placeholder-color: #979797;
      --highlight-color-focused: #000;
    }
  }

}

// .form-signin,
// .form-signup,
// .form-reset-password {

//   ion-item.item-has-focus,
//   ion-item.item-has-value {

//     ion-label {
//       display: none !important;
//     }
//   }
// }

.form-reset-password ion-label {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 14px;

  ion-icon {
    margin-right: 5px;
  }
}

// Set size Logo
ion-img.logo {
  width: 184px;
  margin: auto;
}

// Product List
.grid-products {
  padding: 0 12px;

  ion-row.products {

    ion-col.product-list {
      padding: 0;

      ion-card {
        border-radius: 0;
        margin: 0 12px 24px;
        box-shadow: none;

        ion-card-content {
          padding: 13px;
          background: #E9E9E9;
        }

        p {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .product-name,
        .product-price {
          color: #000000;
        }

        .product-price {
          font-weight: bold;
        }
      }
    }
  }
}

.validator-error {
  margin-top: -10px;
  margin-bottom: 20px;
}

// Product detail
#mainProductSlider {
  swiper-slide {

    img {
      background-color: #E8E8E8;
    }
  }
}

#thumbsProductSlider {
  margin-top: 40px;
}

.products-content {

  .product-title {
    .product-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    h4 {
      font-weight: bold;
    }
  }

  del {
    font-size: 20px;
    color: #FF0000;

    span {

      font-size: 20px;
      color: #FF0000;
    }
  }

  ins {
    text-decoration: none;

    span {

      color: #000;
      font-size: 24px;
      font-weight: bold;
    }

    .woocommerce-Price-currencySymbol {
      margin-left: 5px;
    }
  }

  .product-title-right {
    padding: 0;
  }
}

.product-wishlist {
  position: absolute;
  left: 15px;
  top: 13px;

  ion-icon {
    font-size: 18px;
  }
}

.product-list .product-discount {
  position: absolute;
  top: 0;
  right: 12px;
}

.banner-onsale {
  color: #fff;
  padding: 0 5px;
  width: 46px;
  height: 55px;
  background-image: url('./assets/icon/banner-onsale.svg');
  background-repeat: no-repeat;
  background-size: 98%;
  margin-bottom: -40px;
  text-align: center;

  .txt-ban {
    font-size: 15px;
    line-height: 1;
  }

  .onsale {
    font-size: 17px;
  }
}

// Review 
.review {
  .review-list {
    background-color: #E9E9E9;
    padding: 30px 40px;
    border-bottom: solid 1px #fff;

    .review-tile {
      display: flex;

      .review-profile {
        display: flex;
        align-items: flex-start;
        margin-bottom: 15px;
        width: 70%;

        ion-avatar {
          width: 36px;
          height: 36px;
          margin-right: 15px;
        }

        ion-text {
          font-size: 15px;
          color: #000;
        }
      }

      .review-point {
        text-align: right;
        width: 30%;
      }
    }

    .review-content {

      .review-text {
        ion-text {
          font-size: 12px;
          color: #000;
        }

        margin-bottom: 20px;
      }

      .review-image {
        display: inline;

        img {
          width: 25%;
          padding: 0 10px;
        }
      }
    }
  }

}



// Promotion title
.promotion-title {
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin: 20px 0;

  .promotion-name,
  .see-all {
    width: 50%;
  }

  ion-text {
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    color: #707070;
    margin: 0;
  }
}

// Cart

// Checkbox
.grid-cart,
.coupon-list {
  ion-checkbox {
    --checkbox-background-checked: #000;
    --size: 24px;
    height: auto;
    margin: 0px;
    --checkmark-width: 2px;
    --checkmark-color: #fff;
  }

  ion-checkbox.checkbox-checked::part(container) {
    background: #000000;
    border: 0px solid #000000;
  }

  ion-checkbox::part(container) {
    border-radius: 0px;
    border: 2px solid #000000;
  }

  .product-check ion-checkbox::part(container) {
    border-radius: 0px;
    border: 2px solid #707070;
  }

  .product-check ion-checkbox.checkbox-checked::part(container) {
    border: 0px solid #000000;
  }

}


.btn-confirm,
.btn-checkout {
  min-height: 45px;
  min-width: 205px;
}


// Checkout and thank you
.btn-copy {
  display: inline;
  margin-left: 10px;
}


// Notification status
.grid-notification {

  ion-text {
    b.completed {
      color: #00C62F;
    }

    b.processing {
      color: #005CC6;
    }

    b.pending {
      color: #FF9900;
    }

    b.cancelled {
      color: #707070;
    }
  }
}


// popup alert
ion-toast {
  --ion-color-success: #4CB749;
  --border-radius: 0;
  --padding-start: 24px;
  --start: 24px;
  --end: 24px;
  background: #00000040;
  text-transform: uppercase;
  text-align: center;

  .toast-icon {
    display: none;
  }
}





@media(max-width:820px) {
  .logo>ion-img {
    width: 30%;
    margin: 20px auto;
  }
}

@media(max-width:500px) {
  .logo>ion-img {
    width: 40%;
    margin: 20px auto;
  }

  .grid-categories {
    padding: 0 30px;

    .categories {

      ion-col.categories-list {
        ion-card {

          ion-img {
            max-width: 79px;
            margin: auto;
          }
        }
      }
    }
  }

  // form {
  //   width: 75%;
  //   margin: 0 auto;
  // }
}